# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Frontend
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store

# Datasets
datasets/

# Local/test images
test.jpg
test2.jpg
test3.jpg
test4.jpg
test5.jpg
test6.jpg
test7.jpg
test8.jpg
detected_face.jpg
detected_face_0.jpg